.jumbotron {
  padding-top: 6rem;
  /* height: 100vh; */
  background-color: #ffb62ec9;
}

#project {
  background-color: #ffb62ec9;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
